/* ====================================
// css variables
// ==================================== */

:root {
}




.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^=col-] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

header {
  height: 828px;
  background: url(/img/bckg-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing:content-box;
}

header .container-header {
  width: 100%;
  padding: 40px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  font-family: 'Black Han Sans', sans-serif;
  text-align: left;
  color: white;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 100% */
  text-transform: uppercase;
}

.nav-line {
  display: flex;
  color: white;
}

@media (max-width: 992px) {
  .nav-line {
    display: none;
  }
  .logo-header {
    font-size: 13px;
  }
}

.nav-line a{
  margin: auto 26px;
  text-decoration: none;
  color: white;
  font-family: "Inter";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.nav-line a:hover{
  color: grey;
}


.nav-line .button-reserve {
  margin: auto ;
  padding: 8px 27px;
  border-radius: 3px;
  border: 2px solid #FFF;
}

.nav-line .button-reserve:hover {
  border: solid grey 2px;
}

.nav-burger {
  display: flex;
  flex-direction: column;
}

.nav-burger .burger-line {
  margin: 7px 0;
  width: 40px;
  height: 7px;
  border-radius: 1px;
  background: white;
}



@media (min-width: 992px) {
  .nav-burger {
    display: none;
  }
}
