/* ====================================
// css variables
// ==================================== */

:root {
  --bouton-fond:#FFF
}





/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

header {
  height: 100vh;
  background: url("../img/bckg-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing:content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .container-header-nav-logo {
  width: 100%;
  padding: 40px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  font-family: 'Black Han Sans', sans-serif;
  text-align: left;
  color: white;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 100% */
  text-transform: uppercase;
}

.nav-line {
  display: flex;
  color: white;
}

@media (max-width: 1020px) {
  .nav-line {
    display: none;
  }
  .logo-header {
    font-size: 26px;
    line-height: 25px;
  }
}

.nav-line a{
  margin: auto 26px;
  text-decoration: none;
  color: white;
  font-family: "Inter";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.nav-line a:hover{
  color: grey;
}


.nav-line .button-reserve {
  margin: auto ;
  padding: 8px 27px;
  border-radius: 3px;
  border: 2px solid #FFF;
}

.nav-line .button-reserve:hover {
  border: solid grey 2px;
}

.nav-burger {
  display: flex;
  flex-direction: column;
}

.nav-burger .burger-line {
  margin: 4px 0;
  width: 40px;
  height: 7px;
  border-radius: 1px;
  background: white;
}

@media (min-width: 1020px) {
  .nav-burger {
    display: none;
  }
}

header .section-citation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

header .section-citation .container-citation {
  margin: auto 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .section-citation p {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 2px 6px rgba(18, 18, 18, 0.50);
  font-family: "Inter";
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: 1020px) {
  header .citation {
    font-size: 42px;
  }
}

header .section-citation .citation-credit {
  font-size: 10px;
  align-self: flex-end;
}

header .background-bottom-interaction {
  width: 85vw;
  height: 05vh;
  background: white;
  border-radius: 10px 10px 0 0;
}

main h2 {
  margin-bottom: 30px;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.49%; /* 31.217px */
  letter-spacing: 1.4px;
  text-transform: capitalize;
}

@media (min-width: 1020px) {
  main h2 {
    text-align: left;
  }
}

main .card {
  padding: 80px 0;
}

@media (min-width: 1020px) {
  main .card {
    padding: 0 4px;
  }
}

main .img-card {
  border-radius: 10px;
  height: 30vh;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  position: relative;
}

@media (min-width: 1020px) {
  main .img-card {
    height: 290p;
  }
}

main .menu .first-menu-card-img {
  background: url("../img/chat-table-soupe.jpg");
}

main .menu .second-menu-card-img {
  background: url("../img/chat-cafe.jpg");
}

main .cat .first-cat-card-img {
  background: url("../img/chat-tigré-noir-gris-blanc.jpg");
}

main .cat .second-cat-card-img {
  background: url("../img/chat-roux-blanc.jpg");
}

main .cat .third-cat-card-img {
  background: url("../img/chat-noir-roux.jpg");
}

main .cat .fourth-cat-card-img {
  background: url("../img/chat-blanc.jpg");
}

main .cat .fifth-cat-card-img {
  background: url("../img/chat-long-poil.jpg");
}

main .cat .sixth-cat-card-img {
  background: url("../img/chat-noir-roux.jpg");
}


main .button-card {
  padding: 10px 20px;
  background: var(--bouton-fond);
  border: 0;
  border-radius: 8px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  transition: all 0.1s;
}

main .button-card:hover {
  background: #a5a5a5;
}

@media (min-width: 1020px) {
  main .button-card {
    bottom: 40px;
    left: 40px;
  }
}

main .menu {
  margin: 80px 0;
}